body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left bottom, lightgreen, lightblue);
    color: darkcyan;
    min-height: 100vh;
    font-family: monospace;
}

.container {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headeing {
    font-size: 32px;
}

.temp-container {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}

.input {
    width: 220px;
    font-family: monospace;
    padding: 5px;
    float: right;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 3px;
    color: darkgreen;
    font-size: 18px;
}


.input::placeholder {
    color: darkgray;
}