/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5efe6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  font-family: sans-serif;
}



.container {
background-color: white;
border-radius: 1rem;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
padding: 2rem;
width: 100%;
max-width: 600px;
}

/* Screen */
.screen {
  display: none;
  text-align: center;
  padding: 2rem;
}

.screen.active {
  display: block;
}

/* Start screen */

#start-screen h1 {
  margin-bottom: 20px;
  color: #e86a33;
  font-size: 2.5rem;
}