/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  color: #333;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #c8c3c3;
    height: 30rem;
    width: 25rem;
    padding: 2rem;
    border-radius: 12px;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.7)
    
}

input {
    padding: 0.8rem;
    border-radius: 12px;
    border: none;
    outline: none;   
    width: 100%;;
}


button {
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #0e63ad;
    color: white;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #094578;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
}

ul li {
    list-style: none;
    border: 1px solid black;
    margin-top: 5px;
    width: 100%;
    padding: 0 10px;
    border-radius: 12px;
}