/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.calculator {
    width: 300px;
    height: 530px;
    overflow: hidden;
    background-color: #222522;
    border-radius: 12px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.8)
}

form input {
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background-color: #000;
    text-align: right;
    pointer-events: none;
}

.button  {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid #000;
    padding: 1.1rem;
    border-radius: 12px;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-yellow {
    background: rgb(245, 146, 62);
    color: #fff;
}

.btn-grey {
    background-color: rgb(224, 224, 224);
    color: #000;
}

.btn-equal {
    background-color: green;
    color: wheat;
}

.btn-clear {
    background-color: red;
    color: #fff;
}

